:root {
	--img-font: #fff;
	--border-color: #cacaca;
	--footer-font: #cacaca;
	--main-color: #f90;
	--main-font-color: #333;
}

html {
	box-sizing: border-box;
}

*,
*::before,
*::after {
	box-sizing: inherit;
}

body {
	margin: 0;
	font-family: "Montserrat", sans-serif;
	font-weight: 400;
	font-size: 16px;
	line-height: 32px;
	color: var(--main-font-color);
	background-color: #fff;
}

h1,
h2,
h3,
h4,
h5,
h6 {
	margin: 0;
	padding: 0;
}

p {
	margin: 0;
	padding: 0;
}

ul,
ol {
	margin: 0;
	padding: 0;
	list-style: none;
}

a {
	text-decoration: none;
	color: inherit;
	transition: opacity .5s;
}

a,
button,
input,
textarea {
	border: none;
	outline: none;
}

button {
	cursor: pointer;
}

img {
	max-width: 100%;
}

.container {
	max-width: 1800px;
	margin: 0 auto;
	padding-right: 15px;
	padding-left: 15px;
}

.visually-hidden {
	position: absolute !important;
	overflow: hidden;
	clip: rect(1px 1px 1px 1px);
	/* IE6, IE7 */
	clip: rect(1px, 1px, 1px, 1px);
	width: 1px !important;
	height: 1px !important;
	padding: 0 !important;
	border: 0 !important;
}

.button {
	border: none;
	font-weight: 700;
	color: #fff;
	background: var(--main-color);
	transition: opacity .5s;
}

.title {
	font-weight: 400;
	font-size: 48px;
	line-height: 59px;
}
