.header {
	box-shadow: 0 5px 40px rgba(0, 0, 0, .1);
}

.header__container {
	display: flex;
	align-items: center;
	justify-content: space-between;
	padding-top: 16px;
	padding-bottom: 13px;
}

.header__logo {
	margin-right: auto;
}

.header__nav {
	width: 40%;
}

.header-nav__list {
	display: flex;
}

.header-nav__item {
	position: relative;
	font-weight: 600;
	font-size: 18px;
	line-height: 22px;
}

.header-nav__item::after {
	content: '';
	position: absolute;
	top: 1.5em;
	left: 0;
	width: 100%;
	height: 2px;
	background-color: var(--main-color);
	opacity: 0;
	transition: opacity .5s;
}

.header-nav__item:not(:last-child) {
	margin-right: auto;
}

.header__search {
	margin-right: 5px;
	margin-left: 65px;
	padding: 0 6px;
	background: transparent;
}

.header__search rect {
	transition: fill .3s;
}

.header__search circle {
	transition: stroke .3s;
}

.header__burger {
	display: none;
	flex-direction: column;
	justify-content: space-between;
	overflow: hidden;
	padding: 0;
	background-color: transparent;
	cursor: pointer;
}

.burger__line {
	display: block;
	width: 30px;
	height: 3px;
	background-color: #333;
	transition: background-color .3s, transform .3s;
}

.burger__line:not(:last-child) {
	margin-bottom: 7px;
}

.hero {
	margin-bottom: 97px;
}

.hero__container {
	padding-top: 91px;
	padding-bottom: 103px;
	/* padding: 103px 78px 91px; */
	background: url('../img/hero-img.jpg') 0 50% no-repeat;
	background-size: cover;
}

.hero__title {
	max-width: 840px;
	margin-bottom: 20px;
	font-weight: 800;
	font-size: 70px;
	line-height: 86px;
	letter-spacing: .3px;
	color: var(--img-font);
}

.hero__descr {
	max-width: 830px;
	margin-bottom: 96px;
	font-weight: 700;
	font-size: 23px;
	line-height: 29px;
	letter-spacing: .3px;
	color: var(--img-font);
}

.hero__btn {
	padding: 25.7px 41px;
	font-size: 23px;
	line-height: 29px;
}

.about {
	margin-bottom: 125px;
}

.about__container {
	display: flex;
	flex-wrap: wrap;
	justify-content: space-between;
}

.about__title {
	width: 100%;
	margin-bottom: 23px;
}

.about__descr {
	max-width: 69.5%;
	margin-bottom: 42px;
}

.tooltip {
	margin-right: 5px;
	margin-left: 4px;
}

.about__principles {
	display: flex;
	align-items: flex-end;
	width: calc(50% - 15px);
	height: 622px;
	background: url('../img/principles.jpg') no-repeat;
}

.about-principles__wrapper {
	display: flex;
	align-items: center;
	justify-content: space-between;
	width: 100%;
	padding: 38px 68px 42px 54px;
	font-weight: 700;
	color: var(--img-font);
	background: rgba(0, 0, 0, .2);
	backdrop-filter: blur(10px);
}

.about-principles__descr {
	max-width: 500px;
}

.about-principles__details {
	margin-top: 3px;
	margin-left: 20px;
	padding: 19px 35px 15px;
	border: 3px solid var(--main-color);
	line-height: 20px;
	transition: background-color .5s;
}

.about-wrapper {
	width: calc(50% - 15px);
}

.about__article {
	height: calc(50% - 15px);
	padding: 8% 0 6% 34.4%;
	border: 1px solid var(--border-color);
}

.about-article__title {
	margin-bottom: 6px;
	font-size: 24px;
	line-height: 29px;
}

.about-article__descr {
	max-width: 452px;
}

.cube {
	margin-bottom: 30px;
	background: url('../img/about-cube.svg') 12% 42% no-repeat;
	background-size: 23%;
}

.gear {
	background: url('../img/about-gear.svg') 12% 35% no-repeat;
	background-size: 22%;
}

.working {
	margin-bottom: 85px;
}

.working__title {
	margin-bottom: 36px;
}

.working__nav {
	margin-bottom: 39px;
}

.working-nav__list {
	display: flex;
	justify-content: space-between;
	width: 476px;
	padding-top: 4px;
	border-top: 3px solid transparent;
}

.working-nav__btn {
	font-size: 18px;
	line-height: 22px;
	background: transparent;
	transition: color .3s;
}

.working-item:not(:first-child) {
	display: none;
}

.working-item__article:first-child {
	background: url('../img/work-article.jpg') right no-repeat;
	background-size: 49%;
}

.working-article__title {
	margin-bottom: 3px;
	font-size: 24px;
}

.working-article__descr {
	max-width: calc(50% - 127px);
	margin-bottom: 60px;
}

.working-article__details {
	margin-right: 25px;
	padding: 20px 39px;
	line-height: 20px;
}

.working-article__contract {
	display: inline-block;
	padding: 20px 38px;
	border: 1px solid #333;
	line-height: 20px;
	transition: color .5s, background-color .5s;
}

.faq {
	margin-bottom: 80px;
}

.faq__title {
	margin-bottom: 37px;
}

.faq__item {
	display: flex;
	align-items: center;
	justify-content: space-between;
	border-bottom: 1px solid var(--border-color);
}

.faq__item:first-child {
	border-top: 1px solid var(--border-color);
}

.faq-item__title {
	padding: 39px 0 42px;
	font-size: 24px;
	transition: color .3s;
}

.slash {
	color: var(--border-color);
}

.faq-item__btn {
	background: transparent;
}

.faq-item__btn ellipse,
.faq-item__btn path {
	transition: fill .3s;
}

.footer {
	margin-top: 86px;
	color: var(--footer-font);
	background: #222;
}

.footer__container {
	display: flex;
	flex-flow: column wrap;
	align-content: space-between;
	max-height: 680px;
	padding-top: 48px;
	padding-bottom: 67px;
}

.footer__logo {
	display: block;
	max-width: 230px;
	margin-bottom: 7px;
	line-height: 0;
}

.footer__descr {
	max-width: 363px;
	margin-bottom: 44px;
}

.footer__network {
	display: flex;
	max-width: 240px;
}

.footer-network__item svg {
	transition: transform .3s;
}

.footer-network__item:not(:last-child) {
	margin-right: 25px;
}

.footer__request {
	max-width: calc(30% + 39px);
}

.footer-request__title {
	margin-top: 10px;
	margin-bottom: 22px;
}

.footer-request__form {
	position: relative;
	display: flex;
	flex-wrap: wrap;
	align-items: center;
	justify-content: space-between;
}

.request-form__input {
	margin-bottom: 25px;
}

.request-form__message {
	height: 150px;
	margin-bottom: 31px;
	resize: none;
}

.request-form__input,
.request-form__message {
	width: 100%;
	padding: 14px 24px;
	line-height: 32px;
	color: var(--footer-font);
	background: #414141;
}

.request-form__input::placeholder::after,
.request-form__message::placeholder::after {
	content: '*';
	width: 10px;
	height: 10px;
}

.request-form__submit {
	padding: 21px 52px;
}

.accept-checkbox {
	position: absolute;
	bottom: 0;
	left: 50%;
	z-index: -1;
	opacity: 0;
}

.request-form__accept {
	transition: color .3s;
}

.request-form__accept::before {
	content: '';
	display: inline-block;
	width: 14px;
	height: 14px;
	margin-right: 6px;
	border: 1px solid var(--footer-font);
	background-position: center 0;
	background-repeat: no-repeat;
	transition: border-color .2s, background-color .2s;
}

.accept-checkbox:checked + .request-form__accept::before {
	background-image: url('../img/checkbox.svg');
}

.footer__links {
	max-width: 255px;
	margin-top: 8.4%;
	margin-right: 20px;
	margin-left: 92px;
}

.footer-links__item {
	font-weight: 600;
	font-size: 18px;
	line-height: 22px;
}

.footer-links__item:not(:last-child) {
	margin-bottom: 14px;
}

.footer-links__item a {
	position: relative;
}

.footer-links__item a::before {
	content: '';
	position: absolute;
	top: 1.5em;
	left: 0;
	width: 100%;
	height: 2px;
	background-color: var(--main-color);
	opacity: 0;
	transition: opacity .5s;
}
