.header {
	box-shadow: 0px 5px 40px rgba(0, 0, 0, 0.1);
	padding-top: 16px;
	padding-bottom: 13px;
}

.header__container {
	display: flex;
	justify-content: space-between;
	align-items: center;
}

.header__logo {
	margin-right: auto;
}

.header__nav {
	width: 40%;
}

.header-nav__list {
	display: flex;
}

.header-nav__item {
	font-weight: 600;
	font-size: 18px;
	line-height: 22px;
}

.header-nav__item:nth-child(3) {
	width: 114px;
	text-align: center;
}

.header-nav__item:not(:last-child) {
	margin-right: auto;
}

.header__search {
	margin-left: 65px;
	margin-right: 5px;
	border: none;
	background: transparent;
}

.header__burger {
	display: none;
	height: 21px;
	flex-direction: column;
	justify-content: space-between;
	padding: 1px 0 2px;
	margin-left: 96px;
	background-color: transparent;
	border: none;
	outline: none;
	cursor: pointer;
}

.burger__line {
	width: 30px;
	height: 2px;
	background-color: #000;
	border-radius: 10px;
}

.hero {
	margin-bottom: 97px;
	padding: 103px 78px 91px;
	background: url('../img/hero-img.jpg') no-repeat;
}

.hero__title {
	max-width: 840px;
	margin-bottom: 20px;
	font-weight: 800;
	font-size: 70px;
	line-height: 86px;
	letter-spacing: .3px;
	color: #fff;
}

.hero__descr {
	max-width: 830px;
	margin-bottom: 96px;
	font-weight: 700;
	font-size: 23px;
	line-height: 29px;
	letter-spacing: .3px;
	color: #fff;
}

.hero__btn {
	padding: 25.7px 41px;
	font-size: 23px;
	line-height: 29px;
}

.about {
	display: flex;
	justify-content: space-between;
	flex-wrap: wrap;
	margin-bottom: 125px;
}

.about__title {
	width: 100%;
	margin-bottom: 23px;
}

.about__descr {
	max-width: 69.5%;
	margin-bottom: 42px;
}

.tooltip {
	margin-right: 5px;
	margin-left: 4px;
}

.about__principles {
	display: flex;
	align-items: flex-end;
	width: calc(50% - 15px);
	background: url('../img/principles.jpg') no-repeat;
}

.about-principles__wrapper {
	width: 100%;
	display: flex;
	justify-content: space-between;
	align-items: center;
	padding: 38px 68px 42px 54px;
	font-weight: 700;
	color: #fff;
	background: rgba(0, 0, 0, 0.2);
	backdrop-filter: blur(10px);
}

.about-principles__descr {
	max-width: 500px;
}

.about-principles__details {
	margin-top: 3px;
	padding: 19px 35px 15px;
	border: 3px solid #ff9900;
	line-height: 20px;
}

.about-wrapper {
	width: calc(50% - 15px);
}

.about__article {
	padding: 71px 100px 60px 300px;
	border: 1px solid #cacaca;
}

.about-article__title {
	margin-bottom: 6px;
	font-size: 24px;
	line-height: 29px;
}

.about-article__descr {}

.cube {
	background: url('../img/about-cube.svg') 80px 42% no-repeat;
	margin-bottom: 30px;
}

.gear {
	background: url('../img/about-gear.svg') 80px 35% no-repeat;
}

.working {
	margin-bottom: 85px;
}

.working__title {
	margin-bottom: 43px;
}

.working__nav {
	margin-bottom: 39px;
}

.working-nav__list {
	width: 476px;
	display: flex;
	justify-content: space-between;
}

.working-nav__btn {
	border: none;
	font-size: 18px;
	line-height: 22px;
	background: transparent;
}

.working__list {}

.working__item {}

.working-item:not(:first-child) {
	display: none;
}

.working-item__article {}

.working-item__article:first-child {
	background: url('../img/work-article.jpg') right no-repeat;
}

.working-article__title {
	margin-bottom: 3px;
	font-size: 24px;
}

.working-article__descr {
	max-width: calc(50% - 127px);
	margin-bottom: 60px;
}

.working-article__details {
	margin-right: 25px;
	padding: 20px 39px;
	line-height: 20px;
}

.working-article__contract {
	display: inline-block;
	padding: 20px 38px;
	line-height: 20px;
	border: 1px solid #333333;
}

.faq {
	margin-bottom: 80px;
}

.faq__title {
	margin-bottom: 37px;
}

.faq__list {}

.faq__item {
	display: flex;
	justify-content: space-between;
	align-items: center;
	border-bottom: 1px solid #cacaca;
}

.faq__item:first-child {
	border-top: 1px solid #cacaca;
}

.faq-item__title {
	padding: 39px 0 42px;
	font-size: 24px;
}

.slash {
	color: #cacaca;
}

.faq-item__btn {
	border: none;
	background: transparent;
}

.footer {
	margin-top: 86px;
	background: #222222;
	color: #cacaca;
}

.footer__container {
	display: flex;
	justify-content: space-between;
	padding: 48px 0 67px;
}

.footer__left {
	max-width: 363px;
}

.footer__logo {
	display: block;
	margin-bottom: 7px;
	line-height: 0;
}

.footer-left__descr {
	margin-bottom: 44px;
}

.footer-left__network {
	display: flex;
}

.footer-network__item:not(:last-child) {
	margin-right: 25px;
}

.facebook {}

.vkontakte {}

.instagram {}

.footer__request {
	max-width: 570px;
	margin-right: 94px;
	padding-top: 10px;

}

.footer-request__title {
	margin-bottom: 22px;
}

.footer-request__form {
	display: flex;
	flex-wrap: wrap;
	justify-content: space-between;
	align-items: center;
}

.request-form__input {
	margin-bottom: 25px;
}

.request-form__message {
	height: 150px;
	margin-bottom: 31px;
	resize: none;
}

.request-form__input,
.request-form__message {
	width: 100%;
	padding: 14px 24px;
	border: none;
	line-height: 32px;
	background: #414141;
}

.request-form__submit {
	padding: 21px 52px;
}

.accept-checkbox {
	position: absolute;
	z-index: -1;
	opacity: 0;
}

.accept-checkbox:checked + .request-form__accept::before {
	background-image: url('../img/checkbox.svg');
}

.request-form__accept::before {
	content: '';
	display: inline-block;
	width: 14px;
	height: 14px;
	border: 1px solid #adb5bd;
	margin-right: 6px;
	background-repeat: no-repeat;
	background-position: center 0;
}
.footer__right {
	align-self: center;
}

.footer-right__list {
	padding-top: 25px;
	padding-right: 19px;
}

.footer-right__item {
	font-size: 18px;
	line-height: 22px;
	font-weight: 600;
}

.footer-right__item:not(:last-child) {
	margin-bottom: 14px;
}
