.header {
	box-shadow: 0px 5px 40px rgba(0, 0, 0, 0.1);
	padding-top: 14px;
	padding-bottom: 14px;
}

.header__container {
	display: flex;
	justify-content: space-between;
	align-items: center;
}

.header__logo {
	margin-right: auto;
}

.header__nav {
	width: 40%;
}

.header-nav__list {
	display: flex;
}

.header-nav__item {

}

.header-nav__item:not(:last-child) {
	margin-right: auto;
}

.header__search {
	width: 25px;
	height: 25px;
	margin-left: 71px;
	background: url('../img/search-btn.svg') no-repeat;
	border: none;
}

.header__burger {
	display: none;
	height: 21px;
	flex-direction: column;
	justify-content: space-between;
	padding: 1px 0 2px;
	margin-left: 96px;
	background-color: transparent;
	border: none;
	outline: none;
	cursor: pointer;
}

.burger__line {
	width: 30px;
	height: 2px;
	background-color: #000;
	border-radius: 10px;
}


